/build
/.vscode
compile_commands.json
pyLib/pynl.pyd
pyLib/system_test.pyd
pyLib/nonlinear/__pycache__/__init__.cpython-39.pyc
pyLib/nonlinear/__pycache__/pynl_bind.cpython-39.pyc
test/nonlinear/__pycache__/__init__.cpython-39.pyc
test/nonlinear/__pycache__/pynl_bind.cpython-39.pyc
test/pynl.pyd
test/system_test.pyd
test/nonlinear/__pycache__/core.cpython-39.pyc
test/nonlinear/__pycache__/plotting.cpython-39.pyc
test/nonlinear/
test/nonlinear/core.py
test/nonlinear/plotting.py
test/nonlinear/pynl_bind.py
test/pynl.so
test/system_test.so
test/nonlinear/__init__.py
test/nonlinear/core.py
test/nonlinear/plotting.py
.gitignore
.cache/clangd/index/global.hpp.24F05F2CE37087FD.idx
.cache/clangd/index/nonlinear.cpp.BC0FD71C029FDC6C.idx
.cache/clangd/index/nonlinear.hpp.B37645C3980A71A7.idx
.cache/clangd/index/pynl.cpp.61B55813BF217F86.idx
.cache/clangd/index/pynl.hpp.86A5BADF83BF2418.idx
.cache/clangd/index/system_test.cpp.3569737231CD0DE5.idx
